<form action="/random/results">
  
  <div>
  <label for="user_min">Minimum</label>
  <input id="user_min" type="text" name="user_min" placeholder="E.g. 1.5">
  </div>

  <div>
  <label for="user_max">Maximum</label>
  <input id="user_max" type="text" name="user_max" placeholder="E.g. 4.5">
  </div>

  <button>Pick random number</button>
</form>
